.container {
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(40, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  overflow-y: hidden;
  overflow-x: hidden;
  width: 100%;
  height: 100px;
}

.container2 {
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  overflow-y: hidden;
  overflow-x: hidden;
  width: 100%;
  height: 100px;
}

div.base {
  display: grid;
  width: 100%;
  height: 100%;
  text-align: center;
  align-self: center;
  align-items: center;
  justify-items: center;
  vertical-align: center;
  border: 0.5px solid rgb(11, 11, 11);
  font-size: 0.85em;
  word-wrap: break-word;
  margin: auto;
  overflow-wrap: break-word;
}

.disability {
  /* max-width: 65px; */
  width: 100%;
  max-width: none;
  min-width: 100%;
}

span.txt {
  display: block;
  width: 100%;
  align-self: start;
}

span.title {
  font-weight: 600;
  font-size: 1.4em;
  align-self: end;
}

/* Container 1 */
.baixa {
  grid-area: 1 / 1 / span 2 / span 6;
}

.moderada {
  grid-area: 1 / 7 / span 2 / span 7;
}

.alta {
  grid-area: 1 / 14 / span 2 / span 40;
}

/* Container 2 */
.idade {
  grid-area: 1 / 1 / span 2 / span 1;
}
.percepcao {
  grid-area: 1 / 2 / span 2 / span 1;
}

.avdi {
  grid-area: 1 / 3 / span 2 / span 1;
}

.avdb {
  grid-area: 1 / 4 / span 2 / span 1;
}

.cognicao {
  grid-area: 1 / 5 / span 2 / span 1;
}

.humor {
  grid-area: 1 / 6 / span 2 / span 1;
}

.mobilidade {
  grid-area: 1 / 7 / span 1 / span 4;
}

.comunicacao {
  grid-area: 1 / 11 / span 1 / span 2;
}

.comorbidade {
  grid-area: 1 / 13 / span 1 / span 3;
}

.mmss {
  grid-area: 2 / 7 / span 1 / span 1;
}
.sarcopenia {
  grid-area: 2 / 8 / span 1 / span 1;
}
.marcha {
  grid-area: 2 / 9 / span 1 / span 1;
}
.continencia {
  grid-area: 2 / 10 / span 1 / span 1;
}

.checked {
  background: red;
  color: white;
  font-weight: 600;
}
